@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@400;600&family=Orbitron:wght@900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html,
body {
  height: 100%;
  font-size: 16px;
  background: #fff;
  font-family: 'lato';
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1150px;
  padding: 0px 15px;
  margin: 0 auto;
}

.header__list a:hover {
  color: #fff;
}

.header {
  padding: 5px 0 45px 0;
  background: #000;
}

.header__blok_logo {
  margin-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  text-transform: uppercase;
  font-family: Orbitron;
  font-size: 36px;
  font-weight: 900;
  line-height: 128%;
  color: #FFFFFF;
}

.blok__general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.search {
  margin-left: 28px;
  position: relative;
}

.search::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 18.27px;
  margin: auto 0;
  width: 26.23px;
  height: 26px;
  background: url(../images/icon/lupa.svg) no-repeat;
}

._input {
  width: 537px;
  height: 45px;
  padding: 15px 50px 6px 19px;
  background: #8D8D8D;
  color: #000;
  font-family: 'lato';
  font-size: 16px;
  font-style: italic;
  line-height: 24px;
}

.basket a {
  margin-left: 24px;
}

@media (max-width: 990px) {
  ._input {
    width: 400px;
  }
}

@media (min-width: 841px) {
  .header__Menu {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__list li {
    margin-right: 30px;
  }
  .header__link {
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    color: #8D8D8D;
  }
  .list__ {
    width: 2px;
    height: 21px;
    background: #8D8D8D;
    position: relative;
  }
  .header__list_list__li li:last-of-type {
    text-decoration: underline;
    margin: 0px;
  }
  .list__li a {
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    color: #DDDDDD;
  }
}

.header__burger {
  display: none;
}

@media (max-width: 990px) {
  .header__list li {
    margin-right: 20px;
  }
}

@media (max-width: 900px) {
  .header__list li {
    margin-right: 15px;
  }
}

@media (max-width: 840px) {
  .header__burger {
    display: block;
    position: relative;
    width: 29px;
    height: 16px;
  }
  .header__burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    top: 7px;
    -webkit-transition: all 0.3 ease 0s;
    transition: all 0.3 ease 0s;
  }
  .header__burger::before, .header__burger::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    left: 0;
    -webkit-transition: all 0.3 ease 0s;
    transition: all 0.3 ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .active1::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .active1::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 5px;
  }
  .active1 span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .logo {
    font-size: 24px;
  }
  .header__Menu {
    position: fixed;
    top: -110%;
    right: 0;
    width: 70%;
    height: 100%;
    background: #000;
    margin: 0px;
    display: block;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    -webkit-box-align: none;
        -ms-flex-align: none;
            align-items: none;
    padding: 0 40px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .active2 {
    top: 86px;
    z-index: 10;
    overflow-y: scroll;
  }
  .header__link {
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    color: #8D8D8D;
  }
  .list__li a {
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    color: #DDDDDD;
  }
  .header__list li {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .header__list_list__li li:last-of-type {
    text-decoration: underline;
    margin: 0px;
  }
  .blok__general {
    display: none;
  }
  .header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__blok_logo {
    margin: 0px;
  }
  .header {
    padding: 28px 30px;
  }
}

.header__width840px {
  display: none;
  padding: 20px 0 10px 0;
  background: #00D093;
}

@media (max-width: 840px) {
  .header__width840px {
    display: block;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  padding: 0 15px;
}

.nav__link :hover {
  position: relative;
  top: -5px;
  -webkit-transition: 1s;
  transition: 1s;
}

.header__Menu_slider {
  display: none;
}

@media (max-width: 840px) {
  .header__Menu_slider {
    display: block;
    margin-bottom: 28px;
  }
  .header__Menu_slider_nav {
    padding-bottom: 25px;
    margin-bottom: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.7;
    border-bottom: 2px solid #F1F1F1;
  }
  .header__Menu_slider_nav a {
    color: #8D8D8D;
  }
  .header__Menu_slider_nav ._span {
    display: inline-block;
    position: relative;
    top: 8px;
    height: 9px;
    width: 2px;
    background: #8D8D8D;
    margin: 0 10px;
  }
  .block__title {
    position: relative;
    cursor: pointer;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    color: #fff;
  }
  .block__title::before, .block__title::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: #fff;
    left: 0;
    top: 18px;
    margin-left: 130px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .block__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
  }
  .block__text a {
    color: #8D8D8D;
    margin-bottom: 8px;
  }
  .block__title:before {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
    left: 0;
  }
  .block__title::after {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
    left: 8px;
  }
  .block__title.active::before,
  .block__title.active::after {
    background-color: #fff;
  }
  .block__title.active::before {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  .block__title.active::after {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
}

@media (max-width: 840px) {
  .header__minMenu {
    display: none;
  }
}

@media (min-width: 840px) {
  .header__minMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__minList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__minList li {
    margin: 0px;
  }
  .header__minList li:first-of-type {
    margin-right: 10px;
  }
  .header__minList span {
    display: inline-block;
    position: relative;
    top: 2px;
    height: 9px;
    width: 2px;
    background: #8D8D8D;
    margin: 0 10px;
  }
  .header__link1 {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.7;
    color: #8D8D8D;
  }
}

.main__bloc {
  padding-top: 25px;
  background: #E5E5E5;
}

.main__miniNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.miniLink a {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #8D8D8D;
}

.miniLink a:hover {
  color: #464646;
}

.miniRadius {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  border: 2px solid #bcbcbc;
  margin: 0 10px;
}

.main__defens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 0 25px 0;
}

.main__defens_text {
  font-family: 'Open Sans';
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  color: #464646;
}

.main__defens_bloci {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__defens_bloci .link__bloci {
  position: relative;
  top: 2px;
}

.main__defens_bloci a {
  display: block;
  margin-left: 15px;
}

@media (max-width: 840px) {
  .main__defens_bloci {
    display: none;
  }
}

.main__block_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 22px;
          column-gap: 22px;
}

@media (max-width: 768px) {
  .main__block_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-column-gap: normal;
            column-gap: normal;
  }
}

.block__element_1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 352px;
          flex: 0 0 352px;
}

@media (max-width: 768px) {
  .block__element_1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

.block__element_2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 768px) {
  .block__element_2 {
    margin-top: 22px;
  }
}

.block__defends {
  border: 2px solid #464646;
  margin-bottom: 15px;
  padding: 16px 18px;
}

.block__defends:hover {
  border: 2px solid #00D093;
}

.block__item_defends {
  max-width: 352px;
}

.block__title_defends {
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  line-height: 32px;
  color: #bcbcbc;
  position: relative;
}

.block__title_defends::after, .block__title_defends::before {
  content: "";
  width: 10px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-left: 95%;
}

.block__title_defends::after {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  left: 8px;
}

.block__title_defends::before {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  left: 0;
}

.active3::before, .active3::after {
  background-color: #8D8D8D;
}

.active3::after {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.active3::before {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.head__block {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #111;
  padding: 28px 0 22px 25px;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  text-transform: uppercase;
  color: #fff;
}

.head__block .block__decor {
  width: 5px;
  height: 19px;
  background: #00D093;
  border-radius: 60px;
}

.head__block .block__decor_1 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 27px;
}

.head__block .block__decor_2 {
  margin-left: 7px;
}

.head__block::after, .head__block::before {
  content: "";
  display: none;
}

@media (max-width: 370px) {
  .head__block {
    font-size: 20px;
  }
}

.block__text_defends {
  display: none;
}

.block__text_defends .block__text_defends-link {
  display: block;
  margin-top: 14.41px;
  color: #fff;
}

.block__text_defends a:hover {
  color: #00D093;
}

.head__block_list {
  padding-top: 45px;
  background: #282828;
}

.container__head__block_list {
  padding: 0 25px;
  padding-bottom: 33px;
}

.block__apply_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom__no {
  border: 2px solid #00d093;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  text-align: center;
  border: 2px solid #00D093;
  background: #282828;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  padding: 25px 29px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.bottom__no:hover {
  background: #00d093;
}

.bottom__no:hover a {
  color: #111;
}

.bottom__no:hover .arrow {
  display: block;
}

.bottom__no a {
  color: #8D8D8D;
}

.bottom__no a:hover {
  color: #8D8D8D;
}

.arrow {
  position: relative;
  top: 3px;
  margin-left: 9px;
  width: 11px;
  height: 11px;
  border-top: 2px solid #111;
  border-right: 2px solid #111;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  display: none;
}

.bottom__yes {
  border: 2px solid #00d093;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  padding: 25px 29px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.bottom__yes:hover {
  background: #00d093;
}

.bottom__yes:hover a {
  color: #111;
}

.bottom__yes:hover .arrow {
  display: block;
}

.bottom__yes a {
  color: #8D8D8D;
}

@media (max-width: 370px) {
  .bottom__yes {
    padding: 20px 25px;
  }
  .bottom__no {
    padding: 20px 25px;
  }
}

.block__element_data-list1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.block__element_data-link {
  display: block;
  border: 1px solid #bcbcbc;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  text-align: center;
  color: #3d3d3d;
  padding: 10px 10px;
}

.block__element_data-link:hover {
  border: 1px solid #000;
  color: #000;
}

@media (max-width: 1050px) {
  .data-list2 {
    display: none;
  }
}

.block__element__cart {
  padding-top: 22px;
  padding-bottom: 173px;
}

.flexconteiner__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #fff;
}

.flexconteiner__conteiner {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

@media (max-width: 1050px) {
  .flexconteiner__conteiner {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.flexconteiner__body {
  padding: 21px 21px;
  border: 1px solid #bcbcbc;
}

.flexconteiner__widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.minipic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.minipic__text {
  margin: 0 46px 0 6px;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #bcbcbc;
}

.flexconteiner__bigimages {
  margin-top: 10px;
}

.bigimages__ibg {
  text-align: center;
}

.bigimages__ibg img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.big_block_text_numberone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}

.numberone__text1 {
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  color: #111;
}

.numberone__text2 {
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  color: #bcbcbc;
}

.big_block_text_numbertwo {
  margin-bottom: 12px;
}

.numbertwo__text {
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #111;
}

.big_block_text_numberthree {
  margin-bottom: 17px;
}

.numberthree__text1 {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #464646;
}

.black_text {
  color: #111;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 300;
  line-height: 23px;
}

.numberthree__text2 {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #464646;
}

.gren__text {
  color: #00d093;
  font-weight: 900;
}

.flexconteiner__block__apply_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexconteiner__bottom__no {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  border: 2px solid #111;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.flexconteiner__bottom__no:hover {
  background: #111;
}

.flexconteiner__bottom__no:hover a {
  color: #F1F1F1;
}

.flexconteiner__bottom__no a {
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: #111;
}

.flexconteiner__bottom__yes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #111;
  padding: 15px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.flexconteiner__bottom__yes:hover {
  background: #111;
}

.flexconteiner__bottom__yes:hover a {
  color: #F1F1F1;
}

.flexconteiner__bottom__yes a {
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: #111;
}

@media (max-width: 370px) {
  .flexconteiner__bottom__yes a {
    font-size: 16px;
  }
  .flexconteiner__bottom__no a {
    font-size: 16px;
  }
}

.block__element__dopdrop {
  padding: 40px 0px;
  border-bottom: 2px solid #464646;
}

.block__element__dopdrop_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Open Sans';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.block__element__dopdrop_text a {
  color: #464646;
}

.block__element__dopdrop_text h2 {
  margin-right: 28px;
}

@media (max-width: 370px) {
  .block__element__dopdrop_text {
    font-size: 20px;
  }
  .block__element__dopdrop_text h2 {
    margin-right: 20px;
  }
}

.block__element__numberList {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.arrow__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.arrow__two_left {
  width: 10px;
  height: 10px;
  border-top: 2px solid #bcbcbc;
  border-right: 2px solid #bcbcbc;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.arrow__two_left:hover {
  border-top: 2px solid #111;
  border-right: 2px solid #111;
}

.arrow__one_left {
  margin-left: 15px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #bcbcbc;
  border-right: 2px solid #bcbcbc;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.arrow__one_left:hover {
  border-top: 2px solid #111;
  border-right: 2px solid #111;
}

.numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 110px;
}

@media (max-width: 1050px) {
  .numbers {
    margin: 0;
  }
}

.numbers__bloc {
  margin: 0px 1px;
  padding: 20px 20px;
  cursor: pointer;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  color: #464646;
}

.numbers__bloc:hover {
  color: #111;
  border: 2px solid #111;
}

@media (max-width: 1050px) {
  .numbers__bloc {
    padding: 10px 10px;
  }
}

.arrow__reiht {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.arrow__one_reiht {
  margin-right: 15px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #bcbcbc;
  border-right: 2px solid #bcbcbc;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.arrow__one_reiht:hover {
  border-top: 2px solid #111;
  border-right: 2px solid #111;
}

.arrow__two_reiht {
  width: 10px;
  height: 10px;
  border-top: 2px solid #bcbcbc;
  border-right: 2px solid #bcbcbc;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.arrow__two_reiht:hover {
  border-top: 2px solid #111;
  border-right: 2px solid #111;
}

.content__visibli {
  padding-bottom: 15px;
}

.content__visibli_text {
  font-family: 'Open Sans';
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  color: #464646;
  margin-bottom: 50px;
}

.conteiner__flex_row {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow__zeroblack {
  width: 32px;
  height: 22px;
  background: #111;
  border-radius: 100%;
  margin-right: -12px;
  margin-left: -12px;
  cursor: pointer;
}

.arrow__black {
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: relative;
  top: 6px;
  left: 5px;
}

@media (max-width: 1155px) {
  .arrow__zeroblack {
    display: none;
  }
}

@media (max-width: 1050px) {
  .flex__blok_none {
    display: none;
  }
}

.aside {
  padding: 195px 0 85px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aside__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 0 40px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.content__blok_icon {
  margin-bottom: 30px;
}

.content__blok_title {
  margin-bottom: 20px;
  font-family: 'Open Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: #464646;
}

.content__blok_text {
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #464646;
}

@media (max-width: 880px) {
  .aside {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .aside__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-top: 20px;
  }
}

@media (max-width: 880px) {
  .aside {
    display: none;
  }
}

._footer {
  background: #000;
  padding: 243px 0 154px 0;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.telefon {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}

.telefon__telefon {
  font-family: Lato;
  font-size: 18px;
  line-height: 32px;
  text-align: left;
  color: #fff;
  margin-bottom: 33px;
}

.telefon__rabota {
  font-family: Lato;
  font-size: 18px;
  line-height: 32px;
  text-align: left;
  color: #fff;
  margin-bottom: 33px;
}

.telefon__adress {
  font-family: Lato;
  font-size: 18px;
  line-height: 32px;
  text-align: left;
  color: #fff;
}

.catalog {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog__one p {
  margin-bottom: 14px;
}

.catalog__one p a {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
  color: #fff;
}

.catalog__two p {
  margin-bottom: 14px;
}

.catalog__two p a {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
  color: #fff;
}

.delivery {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.delivery__flech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.delivery__text {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  color: #8D8D8D;
  margin-bottom: 6px;
}

.delivery__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.delivery__link a {
  margin-right: 35px;
}

.delivery__link2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.delivery__link2 a {
  margin-right: 35px;
}

.visa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.visa__text {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  color: #8D8D8D;
  margin-bottom: 6px;
}

.visa__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 910px) {
  .delivery {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 35%;
            flex: 0 1 35%;
  }
  .catalog {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 35%;
            flex: 0 1 35%;
  }
}

@media (max-width: 870px) {
  .footer__info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .delivery {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .catalog {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .telefon {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 520px) {
  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .delivery {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 40px 0 62px 0;
  }
  .catalog {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-column-gap: 34px;
            column-gap: 34px;
  }
  .telefon {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .telefon__big {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .telefon__rabota {
    font-size: 14px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .telefon__adress {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    font-size: 14px;
  }
  .telefon__telefon {
    font-size: 14px;
    margin-bottom: 16px;
  }
  ._footer {
    padding: 113px 0 35px 0;
  }
}

.footer__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 121px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.socials a {
  margin-right: 43px;
}

.site__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  color: #bcbcbc;
}

.green__border {
  border-bottom: 1px solid #00d093;
}
